#!/bin/bash
#vim: ft=bash:

WAIT=900 # 15 min
TIMEOUT=240 # 4 min

cd ~/stravaKudos
while true
do
  echo "`date`>> Starting stravaKudos" >> run.log
  rm -f pages.json
  EMAIL="__EMAIL__" PASSWORD="__PASSWORD__" timeout $TIMEOUT make 2> errors.log
  echo "`date`>> Done with stravaKudos" >> run.log
  sleep $WAIT 
done
