[Unit]
Description=Strava Kudos
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/ubuntu/stravaKudos
ExecStart=/home/ubuntu/stravaKudos/strava_kudos.sh
RemainAfterExit=true
ExecStop=/usr/bin/pkill -f stravaKudos.sh
StandardOutput=journal
StandardError=journal
User=ubuntu
Group=ubuntu

[Install]
WantedBy=multi-user.target
